@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Marko+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Marko One", serif;
    font-style: normal;

}

/* color references used........................................................................................... */
:root {
    --bg-color: #1f242d;
    --bg-color2: #323946;
    --bg-color3: #9acd32;
    --bg-color4: #293a3e;
    --text-color: #ffffff;
    --main-color: #00a2ff;
    --text-color2: #000000;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

/* keyframe for the background.......................................................................................... */
.background {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    width: 100%;
    justify-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

}

.background p {
    font-size: 2.5em;
    color: var(--bg-color4);

}

.background p:nth-child(odd) {
    animation: moveUp 15s infinite linear;

}

.background p:nth-child(even) {
    animation: moveDown 15s infinite linear;

}

@keyframes moveUp {

    0% {
        transform: translate(0, -50vh);

    }

    100% {
        transform: translate(0, 10vh);

    }

}

@keyframes moveDown {

    0% {
        transform: translate(0, 10vh);

    }

    100% {
        transform: translate(0, -50vh);

    }

}


body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

header {
    display: grid;
    background-color: var(--main-color);
    grid-area: header;



}

h1 {
    color: var(--text-color);

}



nav ul {
    list-style: none;
    justify-content: space-between;
    font-size: 1.6em;

}



nav li {
    padding-right: 1em;
    padding-left: 2em;
}


li:last-child {
    margin-right: 1em;
}

.navbar {
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;


}


.navbar a:hover,
.navbar a.active {
    color: var(--text-color);
}

main {
    grid-area: main;


}

section {
    min-height: 87vh;
    padding: 6em 10% 2em;

}


.my-content h3 {
    font-size: 3.2em;
    font-weight: 700;

}

.my-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color)
}

.my-content h1 {
    font-size: 5.6em;
    font-weight: 700;
    line-height: 1.3em;
}

.my-content p {
    font-size: 1.6em;

}

/* floating the my-imag.......................................................................................... e*/
.my-img img {
    width: 22em;
    height: 22em;
    background-color: var(--bg-color3);
    border: 15px solid var(--main-color);
    border-radius: 7em;
    display: grid;
    place-items: center;
    animation: floatImage 4s ease-in-out infinite;
    transition: .4s;
    margin-bottom: 3em;

}


@keyframes floatImage {
    0% {
        transform: translateY(0);

    }

    50% {
        transform: translateY(-2.4em);


    }

    100% {
        transform: translateY(0);

    }

}

/* hand shake the my-image.......................................................................................... */
.my-img img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;

}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }

}

/* email css...................................................................................... */
.email-box {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em 0 2em;
    padding-left: 1em;

}

.email-box h5 {
    font-weight: 100;
    color: var(--text-color);
    font-size: 1em;


}


.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5em;
    height: 2.5em;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;

}

.social-media a:hover {
    background-color: var(--main-color);
    color: var(--bg-color2);
    box-shadow: 0 0 2rem var(--main-color);
}


.menu-icon {
    font-size: 4.6em;
    color: var(--text-color);
    display: none;

}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--bg-color2);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;

}

.btn:hover {
    box-shadow: none;
}

/* footer css......................................................................................... */
footer {
    background-color: var(--bg-color2);
    color:var(--text-color);
    grid-area: footer;
    margin: .5em;
    font-size: 1em;
    padding-top: 2em;
    padding-bottom: 3em;
    align-content: center;
    gap: 1em;
    width: 100%;
    height: 2em;

}



/* contact form......................................................................................... */
.contact h2 {
    margin-bottom: 3rem;
    text-align: center;
    font-size: large;

}

.contact form {
    max-width: 70em;
    margin: 1em auto;
    text-align: center;
    margin-bottom: 3em;
    margin-top: 2em;

}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color2);
    border-radius: 0.8rem;
    margin: 0.7rem 0;

}

.contact form .input-box input {
    width: 49%;

}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 1.5em;
    cursor: pointer;

}


/* project css......................................................................................... */
.project {
    box-sizing: border-box;
    width: 90%;
    margin: auto;
    padding: 2em;
    margin-top: 1em;


}

.project h2 {
    padding-left: 1.5em;
    font-size: 1.8em;
    margin-top: 2em;


}

.row {
    margin: 1.9em -1.25em;

}

.row,
.row>.column {
    padding: 8px;

}

.column {
    float: left;
    width: 33.33%;

}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    background-color: var(--bg-color4);
    padding: 10px;
}

/* Responsive layout.......................................................................................... */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;

    }
}


.content p {
    font-size: 1.5em;
    word-break: keep-all;
    color: var(--text-color);


}



.content h2 {
    font-size: 1.5em;
    text-align: center;
    padding-bottom: .5em;
    color: var(--main-color);


}

.content img {
    width: 100%;

}

/* videoDemo css...................................................................................... */
.wrap {
    margin: 0 auto;
    width: 80%;

}

.wrap h2 {
    padding-top: 4em;
    padding-left: 1em;
    font-size: large;
}

video {
    width: 100%;
    padding-bottom: 1em;
    padding-top: 2em;


}

/* site report css...................................................................................... */

.title {
    border: 2px solid var(--main-color);
    background-color: var(--text-color);
    color:var(--text-color2);
    box-sizing: border-box;
    margin: 0 auto;
    width: 80%;
    border-radius: 1em;
    padding: 2em;
    word-break: keep-all;
    font-size: 1.5em;

}

.title ul {
    list-style: none;
    margin-top: 1em;
    padding-bottom: 2em;


}

.title ul li {
    padding-top: 1.5em;
}


.title p::first-letter {
    color: var(--main-color);
    font-weight: bold;
    font-size: 1.5em;

}

.ref li {
    list-style: decimal;
    word-break: break-all;
    

}


.Valid {
    border: 2px solid var(--main-color);
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 90%;
    border-radius: 1em;
    padding: 2em;
    margin-top: 2em;
    margin-bottom: 10em;

}

.brief {
     margin-bottom: 3em;
}

.design h2 {
    padding-top: 1em;
}

