body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer"
    ;

}

header {
    background-color: var(--main-color);
    color: white;
    padding: 2em;
    grid-area: header;
    align-self: flex-end;
    height: 20px;

}

nav {
    display: none;
    align-items: center;
    width: 100%;
    left: 50%;
    width: 50%;
    height: 10vh;
    z-index: 1;

}

nav ul {
    display: flex;
    flex-direction: column;
    align-self: self-start;
    margin-left: -3.5em;
    background-color: var(--main-color);
    height: 23em;
    width: 7em;
    padding-inline: .2em;
    font-size: 1.5em;


}


.navbar {
    position: relative;


}

.my {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    padding-top: 0.2%;
}

.my-img {
    padding-top: 2em;
}


/* create hamburger icon.........................................................................................*/
.showNav {
    height: 1em;
    width: 1.50em;
    display: block;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
    border-radius: 0.2em;

}

/* to create extra element in-btw.........................................................................................*/
.showNav::before {
    content: '';
    position: absolute;
    width: 1.50em;
    margin-top: 0.3em;
    border-top: 0.2em solid #fff;

}

#clicked .on {
    display: block;

}

#clicked .off {
    display: none;
}

#clicked:target .on {
    display: none;
}

#clicked:target .off {
    display: block;
}

#clicked:target nav {
    display: none;
}

video {
    width: 100%;
    padding-bottom: 125vw;
    padding-top: 6em;
}

.brief h2 {
    padding-left: 3em;
    margin-top: 1.5em;

}

.social-media {
    margin-left: 2.5em;

}

footer {
    position: fixed;
    bottom: 0;
    margin-bottom: 0;

}