body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer"
    ;

}

header {
    background-color: var(--main-color);
    color: white;
    padding: 2em;
    grid-area: header;
    align-self: flex-end;
    height: 20px;
  
   
}

nav {
    display: none;
    background-color: #9acd32;
    align-items: center;
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 10vh;
    

}

nav ul {
    display: flex;
    flex-direction: column;
    align-self: self-start;
    margin-left: -3.5em;
}

.navbar {
    position: relative;


}

.my {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
}

/* create hamburger icon*/
.showNav {
    height: 1em;
    width: 1.50em;
    display: block;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
    border-radius: 0.2em;

}

/* to create extra element in-btw*/
.showNav::before {
    content: '';
    position: absolute;
    width: 1.50em;
    margin-top: 0.3em;
    border-top: 0.2em solid #fff;

}

#clicked .on {
    display: block;
    
}

#clicked .off {
    display: none;
}

#clicked:target .on {
    display: none;
}

#clicked:target .off {
    display: block;
}

#clicked:target nav {
    display: none;
}

