* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    


}
:root {
    --bg-color: #1f242d;
    --bg-color2: #323946;
    --bg-color3:#9acd32;
    --text-color: #fff;
    --main-color: #0ef;

}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}


body {
    background-color: var(--bg-color);
    color: var(--text-color);
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    grid-template-areas:
    "nav nav"
    "main main"
    "footer footer";

}


nav {
    display: flex;
    background-color: #9acd32;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1;
    grid-area: nav;
    align-content: space-between;
    
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
}

nav li {
    padding-right: 1em;
    padding-left: 2em;
}

li:last-child {
    margin-right: 5em;
}

navbar {
    font-size: 1.7em;
    color: var(--text-color);
    margin-left: 4em;
    transition: 0.5ms;

}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

main {
    grid-area: main;
    

}
section {
    min-height: 100vh;
    padding: 10em 9% 2em;

}

.logo {
    font-size: 2.5em;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;

}

.my {
    display: flex;
    justify-content: center;
    align-items: center;

}

.my-content h3 {
    font-size: 3.2em;
    font-weight: 700;

}

.my-content h1 {
    font-size: 5.6em;
    font-weight: 700;
    line-height: 1.3em;
}

.my-content p {
    font-size: 1.6em;

}

.my-img img {
    width: 25em;
    height: 25em;
}

.social-media {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4em;
    height: 4em;
}

footer {
    background-color: var(--bg-color3);
    color: #ffffff;
    grid-area: footer;
    margin: .5em;
    font-size: 2em;
    padding-top: 0.3em;

}